<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-_AoNdgSxkoF73aV_LGkAEKOujaRtZvME7w&usqp=CAU"
      cardTitle="Diversas receitas de pães"
      cardDescription="Confira as receitas e faça seu pão fresco."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Fermentação natural."
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7u3lNUiOEb_NAwLwe-ew03hGaYJPZKlB7w&usqp=CAU"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Pães tradicionais de diversas nacionalidades."
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThSjIK8sxN9ly1izqfACJt__nyLBhCKY140A&usqp=CAU"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="O verdaeiro pão caseiro."
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpUSIaI3BUTzY5FC0uD5F8FEDDZL2_MLZGFQ&usqp=CAU"
    >
    </app-small-card>
  </div>
</div>
